$color-primary: #4d5bff;
$color-bg-variant: rgba(26, 136, 215, 0.4);
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-light: #dfd4d4;
$transition: all 400ms ease;

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background-image: linear-gradient(
    45deg,
    transparent,
    $color-primary,
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: $transition;

  &:hover {
    transform: rotate(0deg);
  }
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 1rem;
}

.about__card {
  background: $color-bg-variant;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  &:hover {
    cursor: default;
    background: transparent;
    border-color: $color-primary-variant;
  }

  .about__icon {
    color: $color-primary;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 0.95rem;
  }

  small {
    font-size: 0.7rem;
    color: $color-light;
  }
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: $color-light;
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;

    .about__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }

    .about__content {
      p {
        margin: 1rem 0 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}
